
a {
    width: 150px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 20px;
    margin: 0px;
    display: block;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000000;
}

a:active {
    color: #000000;
}