﻿body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

#canvas {
    width: 600px;
    float: left;
}

#stats {
    width: 600px;
    max-height: 620px;
    float: left;
}

.stat {
    padding-left: 10px;
    height: 100px;
    width: 200px;
    background-color: grey;
    border-color: black;
    border: 1px solid;
    float: left;
}

iframe {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

canvas {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
